<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Formulario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <h1>Contactanos</h1>

        {% if form.errors %}

        <p style="color:red;">Por favor revisa este campo</p>

        {% endif %}

        <form action="" method="POST"> {% csrf_token %}
            <table>

                {{ form.as_table }}
            
            </table>
            <input type="submit" value="Enviar">    
        
        </form>
        
    </body>
</html>