<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resultados</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <p>Estas buscando: <strong>{{query}}</strong>  </p>

        {% if articulos %}
            <p>Articulos encontrados: {{articulos|length}} articulos </p>

            <ul>

                {% for articulo in articulos %}

                    <li>
                        {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}}
                    </li>

                {% endfor %}
            </ul>

        {% else %}
            <p>No hay articulos encontrados </p>

        {% endif %}


    </body>
</html>