<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: lato;
        }
        
        h2 {
            text-align: center;
            font-size: 2rem;
            padding-top: 50px;
        }
        
        .slider-frame {
            width: 1280px;
            height: auto;
            margin:50px auto 0;
            overflow: hidden;
        }
        
        .slider-frame ul {
            display: flex;
            padding: 0;
            width: 400%;
            
            animation: slide 10s infinite alternate ease-in-out;
        }
        
        .slider-frame li {
            width: 100%;
            list-style: none;
        }
        
        .slider-frame img {
            width: 100%;
        }
        
        @keyframes slide {
            0% {margin-left: 0;}
            20% {margin-left: 0;}
            
            25% {margin-left: -100%;}
            45% {margin-left: -100%;}
            
            50% {margin-left: -200%;}
            70% {margin-left: -200%;}
            
            75% {margin-left: -300%;}
            100% {margin-left: -300%;}
        }
        
    </style>

    <title>

        {% block title %} {% endblock %}

    </title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/suecia">Suecia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/islandia">Islandia</a>
                </li>

            </ul>
        </div>
    </nav>

    <div style="margin: 10px 40px">

        {% block content %} {% endblock %}

    </div>
    <h2>Slider automatico con HTML & CSS</h2>

    <div class="slider-frame">
        <ul>
            <li><img src="https://i.ytimg.com/vi/l-5Ihb0bfjE/maxresdefault.jpg" alt=""></li>
            <li><img src="https://realestatemarket.com.mx/images/2022/02-feb/0202/comienza-en-suecia-la-construccion-de-lakehouse-por-snohetta-g.jpg" alt=""></li>
            <li><img src="https://educoway.com/wp-content/uploads/2017/07/suecia-veramo.jpg" alt=""></li>
            <li><img src="https://elviajerofeliz.com/wp-content/uploads/2019/07/shutterstock_318130976.jpg" alt=""></li>
        </ul>
    </div>

</body>

</html>