<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Templete</title>
</head>

<body>
    
    
    {% include "top/navbar.html" %}

    <div style="margin: 10px 40px" >
        <h1 style="color: rgb(241, 94, 94);">
            Curso de Django uwu
        </h1>

        {% if persona.nombre == 'Jose Luis' %}
            <p>El curso es tomado por el estudiante en cuesti&oacute;n</p>
            <p>Mi nombre es {{persona.nombre|upper}} {{persona.apellido|upper}} y tengo {{persona.edad}} a&ntildeos</p>
        {% else %}
            <p>El curso no fue tomado por otra persona</p>
        {% endif %}
        <hr>
        <p>La fecha es: {{Fecha_actual.day}} / {{Fecha_actual.month}} / {{ Fecha_actual.year }}</p>

        <p><strong>Temas del curso:</strong></p>
        <p>
            <ul>
            {% for tema in temas %}

                <li>{{tema}}</li>

            {% endfor %}
            </ul>
        </p>
        <p>
            <ul>
                {% if temas2 %}
                {% for tema in temas %}
        
                    <li>{{tema}}</li>
        
                {% endfor %}
                {% else %}
                    <p>No hay elementos m&aacutes que mostrar</p>
                {% endif %}
            </ul>
        </p>
    </div>

</body>

</html>