{% extends "base.html" %}

{% block title %} Suecia
{% endblock %}

{% block content %}
<p>Estamos al dia: {{Fecha_actual.day}} / {{Fecha_actual.month}} / {{ Fecha_actual.year }}</p>
<div style="background-color:black;">
    <iframe style="margin-left: 16%;" width="800" height="400" src="https://www.youtube.com/embed/h0QX5ofGZmw" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
{% endblock %}